### Dealing with the data

1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with `NaN` values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
7. BONUS: Put all the previously mentioned data transformations into a function.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('marketing_customer_analysis.csv')

1. Show the dataframe shape.

In [3]:
df.shape

(10910, 26)

In [4]:
# did this just out of interest
df.iloc[100]

Unnamed: 0                                 100
Customer                               NH16984
State                               California
Customer Lifetime Value            2838.067784
Response                                    No
Coverage                              Extended
Education                             Bachelor
Effective To Date                       2/7/11
EmploymentStatus                    Unemployed
Gender                                       F
Income                                       0
Location Code                            Urban
Marital Status                        Divorced
Monthly Premium Auto                        80
Months Since Last Claim                   30.0
Months Since Policy Inception                8
Number of Open Complaints                  0.0
Number of Policies                           1
Policy Type                      Personal Auto
Policy                             Personal L1
Renew Offer Type                        Offer1
Sales Channel                              Web
Total Claim Amount                   336.50961
Vehicle Class                    Four-Door Car
Vehicle Size                           Medsize
Vehicle Type                               NaN
Name: 100, dtype: object

2. Standardize header names.

In [5]:
print(df.columns.tolist())

['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage', 'Education', 'Effective To Date', 'EmploymentStatus', 'Gender', 'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size', 'Vehicle Type']

In [6]:
df.columns = [col_name.lower().replace(' ', '_') for col_name in df.columns]
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [7]:
df = df.rename(columns={'employmentstatus':'employment_status'})
df = df.drop(['unnamed:_0'], axis=1)
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employment_status', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

3. Which columns are numerical?
4. Which columns are categorical?

In [8]:
df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employment_status                 object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [9]:
display(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

5. Check and deal with NaN values.

In [24]:
# just felt like checking for NULL values as well
df.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [10]:
df.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [11]:
df[df['vehicle_class'].isna()==True]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
87,ZH92587,Oregon,8126.766397,No,Basic,College,2/22/11,Disabled,F,14616,...,NaN,3,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,NaN
88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2/23/11,Disabled,F,11432,...,NaN,2,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,NaN
89,ME37450,Arizona,5210.348372,No,Basic,Bachelor,1/4/11,Employed,M,89781,...,0.0,5,Special Auto,Special L2,Offer1,Agent,37.960537,NaN,NaN,A
97,CA22248,Oregon,2505.420430,No,Basic,Master,2/14/11,Employed,F,60546,...,0.0,1,Personal Auto,Personal L3,Offer2,Branch,46.278027,NaN,NaN,A
148,HB24005,California,2347.048112,No,Basic,College,2/2/11,Employed,M,31617,...,1.0,1,Personal Auto,Personal L1,Offer1,Agent,244.269407,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,1/27/11,Employed,M,25998,...,0.0,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10860,GA79817,Arizona,2369.111588,No,Basic,Bachelor,2/5/11,Unemployed,M,0,...,0.0,1,Corporate Auto,Corporate L2,Offer3,Call Center,468.000000,NaN,NaN,NaN
10879,FK95213,California,18611.453560,No,Extended,Master,1/16/11,Employed,F,49673,...,0.0,7,Personal Auto,Personal L3,Offer2,Web,1021.654003,NaN,NaN,NaN
10883,FD64348,Oregon,22563.618380,No,Basic,High School or Below,1/17/11,Employed,M,23046,...,3.0,2,Personal Auto,Personal L3,Offer4,Branch,1.687291,NaN,NaN,A
10890,VQ78876,Oregon,4660.399573,No,Basic,Bachelor,2/3/11,Employed,F,89834,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Branch,43.155950,NaN,NaN,NaN

NaNs in subsets 'state' and 'response' are not important when analysing the claim history of a client, so I don't delete respective rows, but only replace 'NaN' with 'no data' to make the dataframe better readible.

In [12]:
df = df.fillna({'state': 'no data', 'response': 'no data'})
df['state'].unique()

array(['Arizona', 'California', 'Washington', 'Oregon', 'no data',
       'Nevada'], dtype=object)

In the other columns, it is necessary to have values in order to analyse the customer behaviour. Hence I drop the rows with NaNs. It might be sufficient to have either vehicle_size or vehicle_type or vehicle_class of a customer, in order to judge their claim history and to predict future insurance usage. But I don't know how to code that... :)

In [13]:
df = df.dropna(subset=['months_since_last_claim','number_of_open_complaints','vehicle_class', 'vehicle_size', 'vehicle_type'])
display(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
5,HO81102,no data,4745.181764,no data,Basic,High School or Below,2/14/11,Employed,M,50549,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [14]:
# did this out of interest, to see how to get the current date and time
import datetime

now = datetime.datetime.now()

print(now)

2023-02-06 17:22:10.036613

In [17]:
# same as above, did this just out of interest
from datetime import date

today = date.today()
today

datetime.date(2023, 2, 6)

In [19]:
df['month'] = pd.to_datetime(df['effective_to_date']).dt.month_name()
print(df)

      customer       state  customer_lifetime_value response  coverage  \
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
5      HO81102     no data              4745.181764  no data     Basic
10     HG93801     Arizona              5154.764074       No  Extended
13     KR82385  California              5454.587929       No     Basic
...        ...         ...                      ...      ...       ...
10902  PP30874  California              3579.023825       No  Extended
10903  SU71163     Arizona              2771.663013       No     Basic
10904  QI63521      Nevada             19228.463620       No     Basic
10906  KX53892      Oregon              5259.444853       No     Basic
10908  WA60547  California             11971.977650       No   Premium

                  education effective_to_date employment_status gender  \
2                  Bachelor           2/10/11          Employed      M
3                   College           1/11/11          Employed      M
5      High School or Below           2/14/11          Employed      M
10     High School or Below            1/2/11          Employed      M
13                   Master           1/26/11          Employed      M
...                     ...               ...               ...    ...
10902  High School or Below           1/24/11          Employed      F
10903               College            1/7/11          Employed      M
10904  High School or Below           2/24/11        Unemployed      M
10906               College            1/6/11          Employed      F
10908               College           2/13/11          Employed      F

       income  ... number_of_policies     policy_type        policy  \
2       22139  ...                  2   Personal Auto   Personal L3
3       49078  ...                  2  Corporate Auto  Corporate L3
5       50549  ...                  7   Personal Auto   Personal L3
10      82730  ...                  1  Corporate Auto  Corporate L3
13      66334  ...                  4   Personal Auto   Personal L3
...       ...  ...                ...             ...           ...
10902   28304  ...                  1   Personal Auto   Personal L2
10903   59855  ...                  1   Personal Auto   Personal L2
10904       0  ...                  2   Personal Auto   Personal L2
10906   61146  ...                  6   Personal Auto   Personal L3
10908   64195  ...                  6   Personal Auto   Personal L1

       renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
2                Offer3    Call Center          480.000000            SUV
3                Offer2         Branch          484.013411  Four-Door Car
5                Offer1          Agent          292.800000  Four-Door Car
10               Offer2         Branch          442.521087            SUV
13               Offer4    Call Center          331.200000   Two-Door Car
...                 ...            ...                 ...            ...
10902            Offer2          Agent          655.200000  Four-Door Car
10903            Offer2         Branch          355.200000   Two-Door Car
10904            Offer1         Branch          897.600000     Luxury SUV
10906            Offer2         Branch          273.018929  Four-Door Car
10908            Offer1         Branch          618.288849            SUV

      vehicle_size vehicle_type     month
2          Medsize            A  February
3          Medsize            A   January
5          Medsize            A  February
10           Large            A   January
13         Medsize            A   January
...            ...          ...       ...
10902      Medsize            A   January
10903      Medsize            A   January
10904      Medsize            A  February
10906      Medsize            A   January
10908      Medsize            A  February

[4815 rows x 26 columns]

In [21]:
df['month'].value_counts()

January     2546
February    2269
Name: month, dtype: int64

In [23]:
# The dataframe is already filtered since there's only data from January & February.
display(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
5,HO81102,no data,4745.181764,no data,Basic,High School or Below,2/14/11,Employed,M,50549,...,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,February
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,January
13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,January
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,January
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,February
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,January
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,February

7. BONUS: Put all the previously mentioned data transformations into a function.

In [ ]:
df.columns = [col_name.lower().replace(' ', '_') for col_name in df.columns]
df = df.rename(columns={'employmentstatus':'employment_status'})
df = df.drop(['unnamed:_0'], axis=1)
df = df.fillna({'state': 'no data', 'response': 'no data'})
df = df.dropna(subset=['months_since_last_claim','number_of_open_complaints','vehicle_class', 'vehicle_size', 'vehicle_type'])
df['month'] = pd.to_datetime(df['effective_to_date']).dt.month_name()

In [ ]:
def clean(x):
    if